<% include template/body1 %>
<script>
function checkCode(){
if($(".Confirm-number").val()==<%- dt%>){
alert("Đăng kí thành công");
window.location="login"
}  //window.location="FixedLayout.html";
else
alert("Bạn nhập sai mã xác nhân Vui lòng nhập lại")
}

</script>
<h2 class="page-header">Confirm Phone number</h2>
<form method="post" action="/register">
   <div class="form-group">
    <input type="number" class="Confirm-number" placeholder="Code Confirm" name="Confirm">
  </div>
  <button type="button" class="form-button" onclick="checkCode()" value="Confirm Phone Number"></button>
</form>

<% include template/body2 %>