<% include template/body1 %>
<script>
function checkCode(){
if($(".Confirm-number").val()==<%- dt%>){
alert("Đăng kí thành công");
window.location="login"
}  //window.location="FixedLayout.html";
else
alert("Bạn nhập sai mã xác nhân Vui lòng nhập lại")
}
</script>
<h2 class="page-header">Confirm Phone number</h2>
<div class="form-format">
<form method="post" action="/codeconfirm">
   <div class="form-group">
    <input type="number" class="form-control" placeholder="Code Confirm" name="code">
  </div>
  <button type="submit" class="form-button" onclick="checkCode()" value="Confirm Phone Number">Confirm</button>
</form>
</div>

<% include template/body2 %>