<% include template/body1 %>
<div class="form-format">
<h2 class="page-header">Account Login</h2>

<form method="post" action="/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <a class="forgotPS" href="/forgetPassword">Quên mật khẩu</a>
  <button type="submit" class="form-button">Submit</button>
</form>
</div>
<% include template/body2 %>