<% include template/body1 %>
<% if(errors){ %>
    <ul>
        <% errors.forEach(function(error){ %>
            <li class ="register-validator"><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>
<form method="POST" action="/resetPassword">
  <label>Nhập mã code </label>
  <input type="number" name="codeReset" id="codeReset" placeholder="nhập mã code nhận được" >
  <label>Nhập mật khẩu mới </label>
  <input type="password" name="resetPassword" id="resetPassword" placeholder="Nhập mật khẩu mới" >
  <label>Xác nhận mật khẩu </label>
  <input type="password" name="resetPassword2" id="resetPassword2" placeholder="Nhập lại mật khẩu" >
  <input type="submit" id="buttonReset" value="xac nhan">
</form>


<% include template/body2 %>