<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MOKI</title>
    <link rel="stylesheet" href="/css/themsanpham.css">
    
</head>
<body>
    <div class="header">
        <h1>MOKI</h1>
      </div>
      
      <div class="topnav" id="menungang" > 
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
      </div>
      
      <div class="row">
        <div class="column side" id="menuleft">
          <div id="sidebar">
            <div class="toggle-btn" onclick="toggleSidebar()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul>
                <li><a class="active" href="#home">Trang chinh</a></li>
                <li><a href="#news">Tài khoản</a></li>
                <li><a href="#about">Sản phẩm</a></li>
                <li><a href="#contact">Hỗ trợ bán hàng</a></li>
                <li><a href="#about">Trung tâm hỗ trợ</a></li>
                <li><a href="#about">Quản lý bán hàng</a></li>
                <li><a href="#about">Shop</a></li>
             </ul>
         </div>
         <form action="">
        </div>
        <div class="column middle">
            <div class="add">
                <p id="themsanpham">Thêm sản phẩm </p>
                <hr>
                <p><b>Ảnh sản phẩm</b> bạn phải thêm 1 sản phẩm ( tối đa 4 sản phẩm)hoặc 1 video</P>    
                <input type="text">
                <div style="display:inline;">
               <div style="display:flex;">
                    <p id="name">Tên sản phẩm</p>
                    <input type="text" id ="textinput">
               </div> 
               <div style="display:flex;">
                   <p id = "description">Mô tả sản phẩm</p>
                   <input type="text" id="textarea">
               </div>
               <div style="display: flex">
                   <p>Miễn phí</p>
                   <label class="switch" id="switch1">
                        <input type="checkbox" unchecked>
                        <span class="slider round"></span>
                    </label>
               </div>
               <div style="display: flex" >
                    <p>Cho phép mặc cả</p>
                    <label class="switch" id="switch2">
                            <input type="checkbox" unchecked>
                            <span class="slider round"></span>
                    </label>
                </div><br>
                <div>
                    <div id="list">Danh mục</div>
                    <div class="custom-select" >
                        <select >
                                <option value="0">Laptop</option>
                                <option value="1">Chuột</option>
                                <option value="2">Bàn phím</option>
                                <option value="3">Ổ cứng</option>
                                <option value="4">Tai nghe</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div id="nhanhieu">Nhãn hiệu</div>
                    <div class="custom-select" >
                         <select >
                                 <option value="0">Asus</option>
                                 <option value="1">Dell</option>
                                 <option value="2">HP</option>
                                 <option value="3">Lenovo</option>
                                 <option value="4">Acer</option>
                         </select>
                </div>
                <div>
                   <div id="khoiluong">Khối lượng</div>
                   <div class="custom-select" >
                         <select >
                              <option value="0">0.5kg đến 1kg</option>
                              <option value="1">1kg đến 2kg</option>
                              <option value="2">3kg đến  4kg </option>
                              <option value="3">4kg đến 5kg </option>
                              <option value="4">trên 5kg</option>
                         </select>
                   </div>
                </div>
                <div>
                  <div id="donggoi">Kích thước đóng gói</div>
                  <div class="custom-select" >
                    <select >
                         <option value="0">0.5kg den 1kg</option>
                         <option value="1">1kg den 2kg</option>
                         <option value="2">3kg den 4kg </option>
                         <option value="3">4kg đến 5 kg</option>
                         <option value="4">trên 5kg</option>
                    </select>
                  </div>
                </div>
                <div>
                  <div id="trangthai">Trạng thái </div>
                  <div class="custom-select" >
                    <select >
                         <option value="0">Còn mới</option>
                         <option value="1">Đã qua sử dụng</option>
                         <option value="2">3kg đến 4kg </option>
                         <option value="3">trên 5kg</option>
                         <option value="4">trên 5kg</option>
                    </select>
                  </div>
                  </div>
                    <div style="display:flex;">
                     <p id = "gia">Giá</p>
                     <input type="text" id="giatext">
                    </div>
                  </div>
                  <br>
                  <div>
                    <div style="display:flex;">
                      <p id = "noiban">Nơi bán</p>
                      <input type="noiban" id="noibantext" name="">
                     </div>
                  </div><br>
                  <div style="display:flex">
                    <div>
                        <input  class="button button3" type="submit" name="Thêm sản phẩm" value="Thêm sản phẩm" >
                    </div>
                    <div>
                        <input  class="button button3" type="submit" name="Quay lại" value="Quay lại" >
                    </div>
                  </div>
            </div>
            </div>
            <div class="update">
                <div>
                     <p id="taianh1">Tải ảnh và video</p>
                     <hr>
                     <input class="button button3" type="submit" name="Tải" value="Tải"> <br><br>
                     <input type="text" id="taianh">
                </div>
                 
            </div>
        </div>
        <div class="column side"></div>
      </div>
      </form>
      
      <div class="footer">
        <p>Footer</p>
      </div>
    
      <script src="/js/themsanpham.js"></script>
</body>
</html>